body {
  background: url("https://static.vecteezy.com/system/resources/previews/001/225/154/original/black-low-poly-geometric-background-vector.jpg")
    no-repeat center center fixed;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Navbar */
/* utilitario general */
.full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggler {
  margin-right: 2rem;
}

.navbar-btn {
  display: inline-block;
  color: black;
  padding: 0.5rem;
  width: 5rem;
  text-align: center;
  transition: width 0.4s ease-in-out;
}

.navbar-btn:hover {
  width: 10rem;
}

.amd-btn {
  border-bottom: 2px solid red;
}

.intel-btn {
  border-bottom: 2px solid blue;
}

.user-icon {
  transform: scale(2);
  text-decoration: none;
  color: black;
}

.changuito {
  transform: scale(2);
  margin-left: 2rem;
}

/* Perfil */
.contenedor-perfil {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
}

.pos-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.info-personal {
  flex: 2;
  padding-left: 2rem;
}

.info-personal p {
  margin: 0.5rem 0;
}

/* Botones */
.botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.btn-primary {
  background-color: #ff00b7;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Formulario */
.form-actualizar {
  background: #343a40;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 500px;
  margin: 2rem auto;
}

.form-actualizar h5 {
  text-align: center;
  margin-bottom: 1rem;
}

.controls {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #007bff;
  background: #495057;
  color: #ffffff;
}

.btn-actualizar {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn-actualizar:hover {
  background-color: #0056b3;
}

/* Card carrito */

.card-carrito {
  width: 60%;
  margin-bottom: 5%;
  max-width: 60% !important;
}

/* Boton carrito */

.boton-compra {
  width: 80%;
  height: 40px;
  color: white;
  margin-bottom: 16px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: auto;
  margin: 1rem auto;
}

/* Responsividad */

@media (max-width: 990px) {
  .changuito {
    margin-left: 0px;
    margin-right: 72%;
    transform: scale(1.5);
  }

  .form-actualizar {
    max-width: 80%;
  }

  .contenedor-perfil {
    height: 250px;
  }

  .info-personal p {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}
