<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Formulario Register</title>
    
    <!---importaciones de boostrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin=""anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='mi-perfil/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
              <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
              </svg> PROFETAS DEL ODIO
          </a>
          <button class="toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="full-width navbar-nav">
                  
                  <a class="amd-btn navbar-btn ms-2 me-3 nav-link active" aria-current="page" href="{{ url_for('index') }}">AMD</a>
                  <a class="intel-btn navbar-btn ms-2 me-3 nav-link active" aria-current="page" href="{{ url_for('index') }}">Intel</a>
                  <a  class="ml-auto mt-auto mb-auto" href="{{ url_for('mi_perfil') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle user-icon" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                  </a>
                  <button class="btn changuito mt-auto mb-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-cart4"
                      viewBox="0 0 16 16"
                      >
                      <path
                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
                      />
                      </svg>
                  </button>
              </div>
          </div>
      </div>
    </nav>
    <section class="contenedor-perfil">
      <div class="pos-img">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle img-perfil" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </div>
      <div class="info-personal">
        <p><b>INFORMACION PERSONAL:</b></p>
        <p><b>NOMBRE:</b> {{info_usuario.usuario }}</p>
        <p><b>CONTRASEÑA:</b> {{info_usuario.contrasenia }}</p>
        <p><b>EMAIL:</b> {{info_usuario.email }}</p>

      </div>
    </section>
    <section>
      <div class="center">
        <a href="{{ url_for('logout') }}" class="btn btn-primary botones ">Logout</a>
        <a href="{{ url_for('delete_account') }}" class="btn btn-primary botones ">Eliminar</a>
      </div>
    </section>

    <section>
      <section class="form-actualizar">
        <h5>Actualizar Datos</h5>
        <form action="{{ url_for('actualizar_datos') }}" method="POST">
          <input
            class="controls"
            type="text"
            id="usuario"
            name="usuario"
            placeholder="username"
            required
          /><br /><br />
  
          <input
            class="controls"
            type="email"
            id="email"
            name="email"
            placeholder="email"
            required
          /><br /><br />
  
          <input
            class="controls"
            type="password"
            id="contrasenia"
            name="contrasenia"
            placeholder="password"
            required
          /><br /><br />
  
          <input class="btn-actualizar" type="submit" value="Actualizar" />
        </form>
      </section>
    <section>
    <!--offcanva es el nombre de esto para el js-->
    <!--CARRITO---> 
    <div class="offcanvas offcanvas-start bar" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Carrito</h5>

        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <!--INTERIOR DEL CARRITO-->
          {% if carrito %}
              {% for id, computadora in session['carrito']['carrito_producto'].items() %}
                  <div class="col-md-4 col-sm-6 col-xs-12 card-carrito">
                      <div class="card center">
                          <img  src="{{ computadora.imagen }}" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title"><b>{{ computadora.nombre }}</b></h5>
                              <p class="card-text">Cantidad de producto: {{ session['carrito']['carrito_cantidad'][id] }} - ${{ computadora.precio }}.</p>
                              <a id="Eliminar" href="{{ url_for('eliminar', id=computadora['idpc']) }}" class="btn btn-danger boton">Eliminar</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          {% endif %}
      </div>
      <div>
          {% if session['id'] %}
              <a class="btn btn-primary buttons btns" href="{{ url_for('comprar') }}">Comprar ahora</a>
          {% endif %}
      </div>
    </div>
  </body>
</html>